<%= form_for(@bookalawn) do |f| %>
  <% if @bookalawn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookalawn.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @bookalawn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lawn %><br>
    <%= f.select :lawn, options_for_select([["Please Select", "Lawn A"], "Lawn A", "Lawn B", "Lawn C", "Lawn D"]) %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Booking' %>
  </div>
<% end %>
