<nav>
  <ul>
    <li><%=link_to "Home", root_path %> </li>
    <li><%=link_to "About", about_path %> </li>
    <li><%=link_to "How To Join", howtojoin_path %> </li>
    <li><%=link_to "What You Need", whatyouneed_path %> </li>
    <li><%=link_to "2013 Programme", programme2013_path %> </li>
    <li><%=link_to "Newsletters", newsletters_path %> </li>
    <li><%=link_to "Club Matters", clubmatters_path %> </li>
    <li><%=link_to "How To Get There", howtogetthere_path %> </li>
    <li><%=link_to "Book A Lawn", bookalawn_path %> </li>
    <li><%=link_to "Links to Croquet Sites", linkstocroquetsites_path %> </li>
  </ul>
</nav>